.page {
  background-color: #000;
}

.content {
  max-width: 1280px;
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 880px;
  min-height: 74px;
  padding: 45px 0 0;
  margin: auto;
  border-bottom: 1px solid #545454;
}

.profile {
  padding: 40px 0 50px;
  margin: auto;
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__image {
  max-width: 120px;
  border-radius: 50%;
}

.profile__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  grid-template-areas: "name button" "role role";
  min-width: 415px;
  min-height: 77px;
  padding: 0 165px 0 30px;
}

.profile__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: "name";
  margin: 0;
}

.edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  grid-area: "button";
  align-self: center;
}

.profile__role {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  grid-area: "role";
  margin: 16px 0 0;
}

.add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
}
