.edit-button {
  background-image: url(../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  grid-area: "button";
  align-self: center;
  transition: opacity 0.2s linear;
}

.edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
